// general css
@import './fonts.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    font-size: 16px;
    font-family: 'Frutiger LT Std', Arial, Helvetica, sans-serif;
}
img{max-width: 100%}
p{margin-bottom: 0px!important;}
// COLORS
$color-a: #212121; //text

$color-b: #ee260c; //main red
$color-c: #fff; //white

$color-d: #d6d5d5; //dark grey
$color-e: #f3f2f2; //light grey

.f--color-a{color: $color-a}
.f--color-b{color: $color-b}
.f--color-c{color: $color-c}
.f--color-d{color: $color-d}
.f--color-e{color: $color-e}

.f--bg-a{background-color: $color-d;} //dark grey bg
.f--bg-b{background-color: $color-e;} //light grey bg

// Measure
$measure: 1rem;


.f--font-a{ @include font-a;}
.f--font-b{@include font-b;}
.f--font-c{@include font-c;}
.f--font-d{@include font-d;}
.f--font-e{@include font-e;}

strong{font-weight: 700!important;}

// Margins
.f--mb-24{margin-bottom: 24px;}
.f--mb-32{margin-bottom: 32px;}
.f--mb-64{margin-bottom: 64px;}
.f--mb-lg-24{
    @media (max-width: 960px){
        margin-bottom: 24px;
    }
}

// Sections
.f--section-a{
    padding: 4% 0 6% 0;
}
.f--section-b{
    padding: 12% 0 0 0;
}
.f--section-c{
    padding: 0 0 4% 0;
}
.f--section-d{
    padding: 8% 0 4% 0;
}
.f--section-e{
    padding: 252px 0 0 0;
}

.f--bold{font-weight: 900;}

//COMPONENTS
//btn
@mixin btn {
    display: inline-block;
    padding: $measure*1.15 $measure*2;
    border-radius: $measure*3;
    @include font-d;
    text-decoration: none!important;
    color: $color-a;
    transition: all ease-in-out .3s;
    @media (max-width: 960px){
        padding: $measure*0.7 $measure*1.14;
        @include font-e;
    }
    &:hover{
        border-radius: 0px;
        color: $color-a;
        transition: all ease-in-out .3s;
    }
}
.b--btn-a{
    @include btn;
    background-color: $color-b;
    &:hover{
        color: $color-c;
    }
    &--second{
        padding: $measure $measure*2;
        @include font-e;
        font-weight: bold
    }
}
.b--btn-b{
    @include btn;
    background-color: $color-c;
    &:hover{
        color: $color-b;
    }
}
//sticky
.sticky-top{
    top: 200px!important;
    z-index: 100!important;
    &--second{
        top: 156px!important;
        @media (max-width: 960px){
            top: 78px !important;
        }
    }
}

// Header
.b--header-a{
    position: fixed;
    top: 0; left: 0; right: 0;
    margin-top: 0;
    width: 100%;
    background-color: $color-c;
    padding: $measure*3 $measure*4;
    z-index: 300;
    @media (max-width: 960px){
        padding: $measure*1.5 0px;
        margin: 0px;
        height: 78px;
    }
    &__main{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: end;
        &__logo{
            max-height: 60px;
            @media (max-width: 960px){
                max-height: 30px;
            }
            &__link{
                display: block;
                &__media{
                    max-height: 60px;
                    @media (max-width: 960px){
                        max-height: 30px;
                    }
                }
            }
        }
        &__tagline{
            margin-left: 40px;
            @include font-d;
        }
    }
    
    &__content{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
       &__social{
        display: inline-flex;
        &__link{
            display: block;
            margin-left: $measure*0.5;
            &__icon{
                max-width: $measure*2
            }
        }
        
       }
        &__lang{
            margin-right: 32px;
            @media (max-width: 960px){
                margin-left: 12px;
            }
            &__text{
                @include font-e();
                color: $color-d;
                margin: 0;
                a{
                    @include font-e();
                    color: $color-d;
                    text-decoration: none;
                    font-weight: 900;
                    @media (max-width: 960px){
                        font-size: 12px;
                    }
                    &:hover{
                        color: $color-a;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

//Hero
.b--hero-a{
    margin-top: 155px;
    height: calc(100vh - 155px);
    width: 100vw;
    overflow: hidden;
    background-color: #e43340;
    &__media{
        bottom: 0;
        background-color: #e43340!important;
    }
}

//card
.b--card-a{
    padding: 0 30px;
    text-align: center;
    &__hd{
        padding-bottom: $measure;
        border-bottom: 4px $color-a solid; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 405px;
        @media (max-width: 1400px){
            min-height: 345px;
        }
        @media (max-width: 992px){
            min-height: auto;
        }
        &:hover &{
            &__media-wrapper{
                transform: scale(1.1);
                transition: all .3s ease-in-out;
            }
        }
        &__media-wrapper{
            display: block;
            padding: $measure*2 $measure*4 $measure*0.5 $measure*4;
                transition: all .3s ease-in-out;    
            &__media{
                @media (max-width: 992px){
                    max-height: $measure*8;
                }
            }
        }
        &__title{
            @include font-d();
            color: $color-b;
            font-weight: 600;
        }
    }
    &__bd{
        margin-top: $measure*1.5;
        opacity: 0;
        transition: all .3s ease-in-out;
        @media (max-width: 960px){
            opacity: 1;
        }
        &__text{
            @include font-e();
        }
    }
    &:hover &{
        &__bd{
            opacity: 1;
            transition: all .3s ease-in-out;
        }
    }
}

.b--card-b{
    background-color: $color-d;
    padding: $measure*2;
    p{
        @include font-c();
    }
}

.b--card-c{
    background-color: $color-e;
    padding: $measure*3 $measure*6 $measure*2 $measure*6;
    margin-bottom: 4%;
    &__text{
        @include font-d();
        text-align: center;
    }
    &__media{
        margin-top: $measure*2;
    }
}

//list
.b--list-a{
    list-style: none!important;
    padding-left: $measure!important;
    margin-top: $measure*1.5;
    &__list-item{
        display: inline-flex;
        align-items: top;
        @include font-d;
        margin-bottom: $measure;
        &__icon{
            display: block;
            max-width: 35px;
            max-height: 35px;
            margin-right: $measure;
        }
    }
}

//cta
.b--cta-a{
    background-color: $color-e;
    padding: $measure*5 $measure*6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none!important;
    &__text{
        @include font-c;
        color: $color-b;
    }
    &__media{
        max-height: 100px;
        transition: all .3s ease-in-out;
    }
    &:hover &{
        &__media{
            transform: translateX(10px);
            transition: all .3s ease-in-out;
        }
    }
}

//footer
.b--footer-a{
    &__main{
        background-color: $color-a;
        padding: $measure*4 4%;
        @media (max-width: 960px){
            padding: 4% 0px;
        }
        &__logo{
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: end;
            &__link{
                display: flex;
                justify-content: end;
                align-items: end;
                max-height: 60px;
                @media (max-width: 960px){
                    max-height: 30px;
                }
                &__media{
                    max-height: 60px;
                    @media (max-width: 960px){
                        max-height: 30px;
                    }
                }
            }
            
        }
        &__content{
            p{
                color: $color-c;
                @include font-e();
                a{
                    color: $color-c;
                    &:hover{
                        color: #ee260c;
                    }
                }
            }
        }
    }
    &__bottom{
        padding: 1% $measure*4;
        &__text{
            @include font-e();
        }
        &__legal{
            text-align: right;
            @include font-e();
            a{
                color:$color-a;
                &:hover{
                    color: #ee260c;
                }
            }
        }
    }
}